@charset "UTF-8";
/* CSS Document */
h1{
	font-family: 'Titillium Web', sans-serif;
}
h2{
	font-family: 'Titillium Web', sans-serif;
}
body h2 {
}
body h2 {
}
header{
	background-color: darkblue;
	color: white;
	text-align:center;
	padding:10px;
	top: 0;
	left: 0;
	width: 100%;
}
footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #0B7380;
color: white;
text-align: center;
padding: 30px;
}
